.App {
  text-align: center;
}

.App input {
  position: absolute;
  top: 0;
  margin-top: 2rem;
  padding: 16px;
  border-radius: 6px;
  border: 0px;
  min-width: 80vh;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.items {
  padding: 20px;
  margin-top: 5rem;
  max-height: 80vh;
  overflow-x: scroll;
}

.items .item {
  padding: 12px;
  border: 1px solid #999;
  border-radius: 6px;
  margin: 18px;
}

.items .item:hover {
  cursor: pointer;
  border: 1px solid #666;
}